/* Write your CSS here! */
<style > 

body {
  margin: 8px;
  display: block;
}

#mainHeading {
color: red;
text-align: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
margin: 20px;
padding: 10px;
}

.funParagraph {
  color: green;
  padding: 1.25em;
  font-size: medium;
}

main h2 {
  padding: 0.625em 0 0.625em 0.625em;
}

nav ul {
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 1em;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(236, 166, 79);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.9em 1em;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(241, 151, 41);
}

figure {
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  width: 50%;
  max-width: 50%;
}

footer {
  background-color: rgb(236, 166, 79);
  padding: 0.5px 20px;
  display: flex;
  justify-content: space-between;
}

.rParagraph {
  text-align: right;
}

.cParagraph {
  text-align: center;
}

.lParagraph {
  text-align: left;
}

</style >
